* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

img {
    width: 100%;
}

header {
    background-color: #e63946;
    display: flex;
    justify-content: center;
}

header p,
footer p {
    padding: 2%;
    color:#f1faee;
}

h1 {
    display: flex;
    justify-content: center;
    color: #1d3557;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    padding: 2%;
}

h2 {
    display: flex;
    justify-content: center;
    color: #457b9d;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    padding: 3% 0 1% 0;
}

h3 {
    color: #a8dadc;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    padding: 2% 0 0.5% 0;
}

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    padding: 0 0 3% 0;
}

.fullContainer {
    width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(129, 129, 8);
}

.flexContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexContainer>* {
    width: 100%;
}

footer {
    background-color: #1d3557;
    display: flex;
    justify-content: center;
}

/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
    .container {
        width: 85%;
    }

    .flexContainer>* {
        width: calc(50% - 20px);
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {
    .container {
        width: 75%;
    }

    .flexContainer>* {
        width: calc(25% - 20px);
    }

    header p {
        padding: 1%;
    }

    h1 {
        padding: 1%;
    }

    h2 {
        padding: 1% 0 1% 0;
    }
}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1300px;
    }

    header p {
        padding: 1%;
    }
}

/* 1200px */